.logo{
 text-align: center;

}
.logo-size{
    width: 600px;
    height: 200px;
}
.heading{
    margin: 0 90px;
    border-bottom: solid 3px rgb(0, 0, 0);
    margin-top: 40px;
    
}
table{
    margin: auto;
}
td{
    list-style: none;
}



th, td{
    padding: 20px;
    border-bottom:rgb(171, 171, 171) 2px dotted;
    
}
h3{
    margin: 0 90px;
    font-size: 20px;
    text-align: left;
}
span{
    color: rgb(33, 118, 63);
    font-size: 30px;
}
.miryoku{
    margin: 0 60px;
    font-size: 20px;
    padding-left: 25px;
	line-height: 1.6em;
    background: url(../company/cp-img/1703226353906.png) left 0px top 10px no-repeat;
    background-size: 20px auto;
}
ul{
    list-style: none;
}